.price {
	text-align: center;
	font-size: 16px;
	padding: 5px;
}

img {
	height:200px;
	width: 100%;
}
.description{
	height: 50px;

}
.title{
	width:100%

}
.row{height:300px;}
.col-md-3 col-sm-3{
	height:fit-content;
}


