<div class="container">
	<h1 class="well">CODEFAC PTY LTD</h1>
	<div>

    <hr>
	<p>Our company headquarter is in Penrith</p>
	<p>We deliver great services and our hardware products are great</p>
	</div>
	<hr>
<div>

<h3>We are located here</h3>
<style>
#loadImg{position:absolute;z-index:999;}
#loadImg div{display:table-cell;width:950px;height:633px;background:#fff;text-align:center;vertical-align:middle;}
</style>
<div id="loadImg"><div><img src="loading.gif" /></div></div>
<iframe border=0 name=iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3315.347456872215!2d150.6846600507678!3d-33.80334548057946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b128eda7e8cd325%3A0x14b725a662ac9b50!2s8+Domus+St%2C+Glenmore+Park+NSW+2745!5e0!3m2!1sen!2sau!4v1501053490578"  width="600" height="450" scrolling="no" noresize frameborder="0" onload="document.getElementById('loadImg').style.display='none';"></iframe>
	
